<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Care Connect Messaging</a></li>
<!--  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">MyIg Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="background.html">Backaground</a>
      </li>
    </ul>
  </li>-->
 <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="hl7v2tofhir.html">HL7v2 to FHIR Conversion</a>
      </li>
        <li>
            <a href="adt.html">Admission, Discharge and Transfers</a>
        </li>
        <li>
            <a href="referrals.html">Referrals (inc Handover)</a>
        </li>
        <li>
            <a href="diagnostics.html">Diagnostic Reports</a>
        </li>
    </ul>
  </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Artifacts<b class="caret">
        </b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="messagedefinitions.html">Message Definitions</a>
            </li>
            <li>
                <a href="graphdefinitions.html">Graph Definitions</a>
            </li>
            <li>
                <a href="examples.html">Examples</a>
            </li>
        </ul>
    </li>
  <li><a href="downloads.html">Associated Specifications</a></li>
  <li><a href="artifacts.html">Artifact Summary</a></li>
</ul>      
